<launch>
  <!-- base driver -->
  <include file="$(find ucar_controller)/launch/base_driver.launch">
  </include>
  <!-- lidar driver -->
  <include file="$(find ydlidar)/launch/ydlidar.launch"/>
  <!-- cartographer launch -->
  <include file="$(find ucar_map)/launch/cartographer_start.launch"/>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ucar_map)/cfg/demo_2d.rviz" required="true" />

</launch>