<launch>

  <!-- 启动 usb_cam 节点 -->
  <!-- <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap" />
    <param name="framerate" value="30" />
  </node> -->
  
  <include file="$(find ucar_startup)/launch/tts.launch" > </include>
  <include file="$(find speech_command)/launch/speech_command.launch" > </include>
  <include file="$(find ucar_nav)/launch/ucar_navigation.launch" > </include>

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />



</launch>
